/*
 * Variables 
 */



/**
 * Colors
 */

// http://bit.ly/1mGt6zf
brand-color-primary = #FF0D51
brand-color-secondary = #7A8C89
brand-color-tertiary = #A88C8C
brand-color-info = #3E6B48
brand-color-error = lighten(#990808, 20%)
brand-color-success =  #b9bf1f
bg-color = lighten(#80A8A8, 85%)




headline-font-color = darken(brand-color-secondary, 30%)
body-font-color = darken(brand-color-secondary, 10%)
headline-font-family = 'source-sans-pro'
body-font-family = 'freight-text-pro'
label-font-family = 'source-sans-pro'
nav-link-font-family = 'source-sans-pro'


/**
 * Navigation
 */

nav-bg-color = lighten(bg-color, 70%)
nav-link-color = darken(brand-color-secondary, 40%)
nav-link-hover-color = brand-color-primary



/**
 * Links
 */

link-color = brand-color-primary
link-hover-color = darken(link-color, 30%)



/**
 * Buttons
 */

primary-button-color = brand-color-primary
primary-button-hover-color = lighten(brand-color-primary, 50%)
primary-button-text-color = lighten(brand-color-primary, 100%)
button-radius = 30px



/** 
 * Uncompressed Images
 */

img-url = '/img/'



/**
 * Tags 
 */

tag-text-color = lighten(brand-color-secondary, 20%)
tag-text-hover-color = link-color
tag-radius = 0




/**
 * Transitions
 */

link-transition-speed = 150ms
standard-transition-speed = 150ms
menu-transition-speed = 300ms



/**
 * Responsive Breakpoints
 */

breakpoint-desktop = 1200px
breakpoint-small-screen = 960px
breakpoint-tablet-portrait = 768px
breakpoint-mobile = 400px